<div class="col-md-12" style="background-color:#fff;padding-bottom:15px;">
	<h2>{{this.name}}</h2>

	{{#if this.comments}}
		<table class="table table-striped table-bordered">
	      <thead>
	        <tr>
	          <th>Comment</th>
	          <th>Timestamp</th>
	        </tr>
	      </thead>
	      <tbody>
	      {{#each comments}}
	        <tr>
	          <td>{{this.text}}</a></td>
	          <td>{{this.timestamp}}</td>
	        </tr>
			{{/each}}
	      	</tbody>
		</table>
	{{else }}
		<p>No Comments</p>
	{{/if}}


<br />
<form action="/addcomment/{{this.id}}/">
  <div class="form-group">
    <input type="text" class="form-control" id="comment" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Post Comment</button>
</form>
<script>
$(function(){
	var action = $('form').attr('action');
	$('button').click(function(e){
		e.preventDefault();
		var postURL = action + encodeURIComponent($('#comment').val());
		window.location.href = postURL;
	});
});
</script>

</div>